{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <p><em><strong>M</strong></em>o<span style="text-decoration-line: underline;">rE</span>&nbsp;f<strong><span style="text-decoration: underline;">O</span><em>N</em></strong><em>t</em>s <em>a</em><strong>N</strong><em>D</em> t<strong>e</strong><span style="text-decoration: underline;"><strong>x</strong>t</span> v<em>A</em>ri<strong>e</strong>ty<strong>!</strong>!<em>!</em></p>
    <hr>
    <p style="font-family:'Garamond'">{{ flatpage.content }} </p>
{% endblock content %}