{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}


{% block content %}
    <h1>All Posts</h1>
    <h3>{{posts_search | length}}</h3>
    <hr>
    <form method="GET">
        {{filter.form}}
        <input type="submit" value="Find">
    </form>
    {% if filter.qs %}
        <table>
            <tr>
                <td>Name</td>
                <td>Publish Date</td>
                <td>Preview</td>
            </tr>
        {% for post in filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{post.name | Censor}}</a>
                    <a href="{% url 'post_update' post.id %}"><u>Edit</u></a>
                    <a href="{% url 'post_delete' post.id %}"><u>Delete</u></a>
                </td>
                <td>{{post.date | date:'d.M.Y'}}</td>
                <td>{{post.text | truncatewords:20 | Censor}}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No posts available!</p>
    {% endif %}
{% endblock content %}